<h1> Configurations Page</h1>
 
<% @users.each do |u| %>
   <% @user2 = u %>
   <p>
   <%= u.login %>
   </p>
   <p>
   <img src="<%=h gravatar_url u.email %>" alt="account picture" />
   </p>
   
   <%= link_to 'Destroy Account', u, :confirm => 'Are you sure?', :method => :delete %>
   <% form_for(@user2)  do |f| %>
     <%= f.error_messages %>
	 
	  Child <%= f.radio_button :roles, 'child', :checked => true %> <br />
      Parent <%= f.radio_button :roles, 'parent' %> <br />
     
     <%= f.submit 'Update' %>
   <% end %>

<% end %>



=begin 
   
=end

