<%= javascript_include_tag :defaults %>


<style type="text/css">
	#draggable { }
	ul {float:left;
		padding:0px;}
	#calendar_entries li {clear:both;
		border:2px solid #800000;
		list-style-type:none;
		width:80px;
		overflow:hidden;
		height:80px;
		color:#800000;
		background-color:#FFFFFF;}
	li #draggable {border:2px solid #800000;
		}
	#calendar_grid	
	#details {float:left;
			  clear:both;
			  position:relative;
			  left:40;
			  }
	
	#name_of_day{
	   height:30px;
	   font-family:Snap ITC;
	   font-size: 15px;
	}
	
	li{
		margin:1px;
		padding:5px;
	}
	</style>

	
	<script type="text/javascript">
	$(function() {
		$("#draggable").draggable();
		$("#sortable").sortable();
		$("#sortable").disableSelection();
		$("#accordion").accordion({
			collapsible: true
		});


	});
	</script>
	





<h2><%=h @calendar.title %></h2>
<h2><%= @login %></h2>
<h3>Details</h3>
<p>
  <i>Description:</i><br/>
  <%=h @calendar.description %>
</p>
<p>
  <i>Last Calender Update On:</i><br/>
  <%=h @calendar.updated_at.strftime('%d.%m.%Y') %>
</p>


<div id="calendar_grid">
<% 7.times  do |x|%>
<ul id ="calendar_entries">
  <% time = Time.now.beginning_of_week + x * 86400%>
  <li id="name_of_day">
    <%= time.strftime("%d") %>
	<br />
	<%= time.strftime("%A") %>
  </li>

  <% unless @calendar.events.empty? %>
    <% @calendar.events.each do |event| %>
      <% if event.start_on.day == time.day %>
		<li id="sortable">
		   <%=h event.description %><br/>
		   <%= image_tag(event.chore.image_url) %> 
		</li>
	  <% end %>
    <% end %>
  <% end %>
</ul>
<% end %>
</div>

<div id="details">
<div id="members">
<% @id = @calendar.id %>
<h3>Members</h3>
<ul>
<% @family.each do |member|%>
<li>
<%= member.login %>
</li>
<% end %>
</ul>
</div>
<div id="events">
<h3>Events</h3>
<% if @calendar.events.empty? %>
  <p>There are no events in this calendar yet!</p>
<% end %>
<% unless @calendar.events.empty? %>
  <% @calendar.events.each do |event| %>
    <p>
	  <%=h event.description %><br/>
      <%=h event.start_on.strftime('%d.%m.%Y') %>
	</p>
	<p>
	  <%= link_to 'Show Event', calendar_event_path(@calendar) %> |
	  <%= link_to 'Edit Event', edit_calendar_path(@calendar) %> |
	  <%= link_to 'Destroy Event', [@calendar, event], :confirm => 'Are you sure?', :method => :delete %>
	</p><br/>
  <% end %>
<% end %>
</div>
<div id="chores">
<h3>Create Chores</h3>
<%= render :partial => @chore = Chore.new, :locals => { :button_name => 'Create'} %>

<% if !@calendar.chores.empty? %>
<h3>Create new event</h3>
<%= render :partial => @event = Event.new, :locals => { :button_name => 'Create'}%>
<% end %>
</div>
</div>