<% form_for([@calendar, @reward]) do |f| %>
  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :points %><br />
    <%= f.select "points", options_for_select([["1"], 
                  ["5"], "10", "15"], 
                 ["20", "30"]), {:multiple => false} %>
  </p>
    <p>
    <%= f.submit button_name %>
  </p>
<% end %>

<%#- f.collection_select(:user_id, @users = User.find(:all, :conditions => ["fam_id=?", @calendar.fam_id]), :id, :login) -%>
