<h1>Listing rewards</h1>

<%= link_to 'New reward', new_calendar_reward_path(@calendar) %>

<% for reward in @rewards %>
  <p>
    <%=h reward.title %>
  </p>
  <p>
    points: <%=h reward.points %>
  </p>
 
    <%= link_to 'Show', [@calendar, reward] %>
    <%= link_to 'Edit', [:edit, @calendar, reward] %>
    <%= link_to 'Destroy', [@calendar, reward], :confirm => 'Are you sure?', :method => :delete %>
  
<% end %>


