<p>
  Description:<br />
  <b><%=h @event.description %><b>
</p>

<p>
  Date of Event:<br />
  <b><%=h @event.start_on.strftime('%d.%m.%Y') %></b>
</p>

<p>
  Chore type:<br />
  <b><%=h @event.chore.title %></b>
</p>

<p>
  Status:<br />
  <b><%=h @event.finished %></b>
</p>

<p>
  Has to be done by:<br />
  <b><%=h @event.user.login %></b>
</p>

<% if permitted_to? :edit, @event %>
  <%= link_to 'Edit', [:edit, @calendar, @event] %> |
<% end %>
<%= link_to 'Back', calendar_path(@calendar) %>