<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Family Calendar</title>
  <%= stylesheet_link_tag 'scaffold' %>
  <%= javascript_include_tag :defaults %>
</head>
<body>

  <div id="titlebox">
    <% if current_user %>
      <h1><%= link_to 'Family Calendar', account_path, :class => 'title' %></h1>
	<% else %>
	  <h1><%= link_to 'Family Calendar', new_user_session_path, :class => 'title' %></h1>
	<% end %>
  </div>
  
  <p id="notice" ><%= flash[:notice] %></p>

  <%= link_to 'Home', calendars_path %> |
  
  
  <% if current_user %>
    <%= link_to 'Account', account_path %> |
	
	
	<%-# link_to 'Create new calendar', new_calendar_path -%> |
	
	
    <%= link_to 'Logout', :controller =>  'user_sessions', :action => 'logout' %>
    <%= @message %>
  <% else %>
    <%= link_to 'Login', :controller =>  'user_sessions', :action => 'new' %> |
	<%= link_to 'Sign up', :controller =>  'users', :action => 'new' %>
  <% end %>
  
  <%= yield %>

  <p id="current">Currently <%-# pluralize User.logged_in.count, "user" %> logged in.</p>
  <p id="footer">&copy;2010 by Alexandra F.</p>

</body>
</html>
