<h2>Edit My Account</h2>

<%= link_to 'Go to Account', account_path %> |
<%= link_to 'Destroy Account', @user, :confirm => 'Are you sure?', :method => :delete %>

<% form_for @user, :url => account_path do |f| %>
  <%= f.error_messages %>
  <%= render :partial => 'form', :object => f %>
  <%= f.submit 'Update' %>
<% end %>
