<h1>Listing chores</h1>

<%= link_to 'New chore', new_chore_path(@calendar) %>
<% for chore in @chores %>
  <h3><%=h chore.title %></h3>
  <p><%=h chore.image_url %></p>
  <p>
    <%= link_to 'Show', [@calendar, chore] %> |
    <%= link_to 'Edit', [:edit, @calendar, chore] %> |
	<%= link_to 'Destroy', [@calendar, chore], :confirm => 'Are you sure?', :method => :delete %>
  </p>
<% end %>
