<p>
  <b>Chore:</b>
  <%=h @chore.title %>
</p>

<p>
  <b>Image url:</b>
  <%=h @chore.image_url %>
</p>

<p>
  <b>Image:</b>
  <%= image_tag(@chore.image_url) %> 
</p>


<%= link_to 'Edit', [:edit, @calendar, @chore] %> |
<%= link_to 'Back', calendars_path(@calendar) %>